
@font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif;

.blog-nav {
  background-color:white;
}

.blog-header {
  /*color: wite;*/
  padding-top: 60px;
  margin-bottom: 60px;
  font-size: 24px;
  text-align: left;
  background-size: cover;
  background-color: #f9f9f9;
  /*background: url('../images/man-on-moon.jpg') center;*/
}
